In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
3/2

1.5

# Module or Mod Operator

In [5]:
7/4

1.75

In [6]:
2**3

8

In [7]:
2+10*10+3

105

In [8]:
7%4

3

In [9]:
50%5

0

In [10]:
23 % 2

1

In [11]:
(2+10) * (10+3)

156

In [12]:
0.1+0.2-0.3

5.551115123125783e-17

# Assign Variables

In [13]:
a=5

In [14]:
a

5

In [15]:
a =10

In [16]:
a

10

In [17]:
a+a

20

In [24]:
a = a + a

In [25]:
a

80

In [26]:
a

80

In [27]:
a

80

In [28]:
type(a)

int

In [29]:
a=30.1

In [30]:
type(a)

float

In [32]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [33]:
my_taxes

10.0

# Strings

In [35]:
'hello'

'hello'

In [36]:
"World"

'World'

In [37]:
'This is also a string'

'This is also a string'

In [38]:
"i'm going on a run"

"i'm going on a run"

In [39]:
print('hello')

hello

In [40]:
'hello 1'
'hello 2'

'hello 2'

In [41]:
print('hello 1')
print('hello 2')

hello 1
hello 2

In [43]:
print ('hello \n world')

hello
 world

In [44]:
print ('hello \t world')

hello 	 world

In [45]:
len('hello')

5

In [46]:
len('i am')

4

# String indexing n Slicing

In [47]:
mystring = "Hello World"

In [48]:
mystring

'Hello World'

In [50]:
mystring[0]

'H'

In [51]:
mystring[7]

'o'

In [52]:
mystring[10]

'd'

In [55]:
mystring[-2]

'l'

In [56]:
mystring[-1]

'd'

In [57]:
mystring='abcdefghijk'

In [58]:
mystring

'abcdefghijk'

In [59]:
mystring[2:]

'cdefghijk'

In [60]:
mystring[:3]

'abc'

In [61]:
mystring

'abcdefghijk'

In [62]:
mystring[3:6]

'def'

In [63]:
mystring[1:3]

'bc'

In [64]:
mystring[::]

'abcdefghijk'

In [65]:
mystring[::2]

'acegik'

In [66]:
mystring[::3]

'adgj'

In [67]:
mystring[2:7:2]

'ceg'

In [68]:
mystring[::-1]

'kjihgfedcba'

# Immutability

In [69]:
name='sam'

In [71]:
name

'sam'

In [74]:
      #  name[0]='p'

In [78]:
last_letters=name[1:]

In [79]:
last_letters

'am'

In [80]:
'P' + last_letters

'Pam'

In [82]:
x='Hello World'

In [90]:
x + ' its beautiful outside'

'Hello World its beautiful outside its beautiful outside its beautiful outside'

In [93]:
x=x + ' its beautiful outside'

In [94]:
x

'Hello World its beautiful outside its beautiful outside its beautiful outside its beautiful outside'

In [95]:
letters='z'

In [97]:
letters *10

'zzzzzzzzzz'

In [98]:
x="Hello World"

In [99]:
x

'Hello World'

In [100]:
x.upper()

'HELLO WORLD'

In [103]:
x.lower()

'hello world'

In [104]:
x.split()

['Hello', 'World']

In [105]:
x='Hi This is a string'

In [106]:
x

'Hi This is a string'

In [107]:
x.split()

['Hi', 'This', 'is', 'a', 'string']

In [109]:
x.split('i')

['H', ' Th', 's ', 's a str', 'ng']

# Formatting with the .format() method

'String here {} then also {}'.format('something1','something2')

In [110]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [113]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [115]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

# Float Formatting follows"{value:width.precision f}"

In [117]:
result = 100/777

In [118]:
result

0.1287001287001287

In [122]:
print("The Result was {r:1.3f}".format(r=result))

The Result was 0.129

In [123]:
name ='Jose'

In [124]:
name

'Jose'

In [126]:
print('Hello,his name is  {}'.format(name))

Hello,his name is  Jose

In [127]:
print(F'Hello,his name is  {name}')

Hello,his name is  Jose

In [128]:
name ='sunit'
age="35"

In [131]:
print(f'{name} is {age} years old')

sunit is 35 years old

# List

In [132]:
my_list =[1,2,3]

In [133]:
my_list

[1, 2, 3]

In [136]:
my_list = ['one',2,102.5]

In [137]:
my_list = ['one','two','three']

In [138]:
my_list

['one', 'two', 'three']

In [139]:
my_list[0]

'one'

In [140]:
my_list[1:]

['two', 'three']

In [141]:
another_list = ['four','five']

In [142]:
my_list + another_list

['one', 'two', 'three', 'four', 'five']

In [143]:
new_list = my_list + another_list

In [144]:
new_list

['one', 'two', 'three', 'four', 'five']

In [145]:
new_list[0]='ONE iN ALL CAPS'

In [146]:
new_list

['ONE iN ALL CAPS', 'two', 'three', 'four', 'five']

In [148]:
new_list.append('six')

In [149]:
new_list

['ONE iN ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [152]:
new_list.pop()

'six'

In [153]:
new_list

['ONE iN ALL CAPS', 'two', 'three', 'four', 'five']

In [154]:
popped_item = new_list.pop()

In [155]:
popped_item

'five'

In [156]:
new_list

['ONE iN ALL CAPS', 'two', 'three', 'four']

In [157]:
new_list.pop(0)

'ONE iN ALL CAPS'

In [158]:
new_list

['two', 'three', 'four']

In [159]:
new_list =['a','c','f','m','d']
new_num =[1,2,5,6,4,3]

In [160]:
new_list.sort()

In [161]:
new_list

['a', 'c', 'd', 'f', 'm']

In [162]:
new_num.sort()

In [163]:
new_num

[1, 2, 3, 4, 5, 6]

In [164]:
my_sortedlist = new_num.sort()

In [165]:
my_sortedlist

In [166]:
type(my_sortedlist)

NoneType

In [167]:
None

In [168]:
new_list.sort()
my_sortedlist =new_list

In [169]:
my_sortedlist

['a', 'c', 'd', 'f', 'm']

In [171]:
new_list.reverse()

In [172]:
new_list

['m', 'f', 'd', 'c', 'a']

In [176]:
new_num.reverse()
my_sortednumlist =new_num

In [177]:
my_sortednumlist

[6, 5, 4, 3, 2, 1]

# Dictionaries

In [178]:
my_dict={'Key1':'value1','key2':'value2'}

In [179]:
my_dict

{'Key1': 'value1', 'key2': 'value2'}

In [181]:
my_dict['Key1']

'value1'

In [182]:
price_lookup={'apple':2.09,'orange':2.59,'banana':6.5}

In [183]:
price_lookup['apple']

2.09

In [185]:
price_lookup['banana']

6.5

In [186]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideakey':1234}}

In [187]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideakey': 1234}}

In [188]:
d['k3']

{'insideakey': 1234}

In [189]:
d['k3']['insideakey']

1234

In [190]:
d = {'keyvalue':['a','b','c']}

In [191]:
d

{'keyvalue': ['a', 'b', 'c']}

In [192]:
d['keyvalue']

['a', 'b', 'c']

In [193]:
d['keyvalue'][1]

'b'

In [194]:
d['keyvalue'][1].upper()

'B'

In [196]:
d={'k1':100,'k2':200}

In [198]:
d

{'k1': 100, 'k2': 200}

In [200]:
d['k3'] =400

In [201]:
d

{'k1': 100, 'k2': 200, 'k3': 400}

In [202]:
d['k1']='100NewV'

In [203]:
d

{'k1': '100NewV', 'k2': 200, 'k3': 400}

In [204]:
d = {'k1': 100, 'k2': 200, 'k3': 400}

In [205]:
d

{'k1': 100, 'k2': 200, 'k3': 400}

In [207]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [208]:
d.values()

dict_values([100, 200, 400])

In [210]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 400)])

# Tuples

In [211]:
t = (1,2,3)

In [212]:
t

(1, 2, 3)

In [213]:
my_list =[1,2,3]

In [214]:
my_list

[1, 2, 3]

In [215]:
type(t)

tuple

In [216]:
type(my_list)

list

In [217]:
t

(1, 2, 3)

In [218]:
len(t)

3

In [220]:
len(my_list)

3

In [221]:
t = ('one',2)

In [222]:
t

('one', 2)

In [223]:
t[0]

'one'

In [224]:
t[-1]

2

In [225]:
t[1]

2

In [226]:
t = ('a','a','b')

In [227]:
t.count('a')

2

In [228]:
t.index('b')

2

In [229]:
t.index('a')

0

In [230]:
t

('a', 'a', 'b')

In [231]:
my_list

[1, 2, 3]

In [232]:
my_list[0]='NEW'

In [233]:
my_list

['NEW', 2, 3]

# Sets

In [235]:
my_set = set()

In [236]:
my_set

set()

In [239]:
my_set.add(1)

In [240]:
my_set

{1}

In [241]:
my_set.add(2)

In [243]:
my_set

{1, 2}

In [244]:
my_set.add(2)

In [245]:
my_set

{1, 2}

In [246]:
mylist = [1,2,3,4,3,2,1,2,3,5,5,6]

In [247]:
set(mylist)

{1, 2, 3, 4, 5, 6}

# Booleans

In [249]:
True

True

In [250]:
False

False

In [251]:
type(True)

bool

In [253]:
1>2

False

In [254]:
1 ==2

False

In [255]:
1 ==1

True

In [257]:
b = None

In [258]:
b

# Files

In [259]:
%%writefile myfile.txt
Hello this is the text file 
This is the first line
This is the second line

Writing myfile.txt

In [261]:
myfile = open('myfile.txt')

In [262]:
pwd

'C:\\Users\\spadhy\\Documents'

In [264]:
myfile.read()

''

In [265]:
myfile.read()

''

In [266]:
myfile.seek(0)

0

In [267]:
myfile.read()

'Hello this is the text file \nThis is the first line\nThis is the second line '

In [268]:
myfile.read()

''

In [269]:
myfile.seek(0)

0

In [270]:
contents = myfile.read()

In [271]:
contents

'Hello this is the text file \nThis is the first line\nThis is the second line '

In [275]:
contents

'Hello this is the text file \nThis is the first line\nThis is the second line '

In [276]:
myfile.read()

''

In [277]:
myfile.seek(0)

0

In [278]:
myfile.readlines()

['Hello this is the text file \n',
 'This is the first line\n',
 'This is the second line ']

In [279]:
myfile.close()

In [280]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [281]:
contents

'Hello this is the text file \nThis is the first line\nThis is the second line '

In [290]:
%%writefile my_newfile.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_newfile.txt

In [291]:
with open('my_newfile.txt',mode='r') as f:
    print (f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [292]:
with open('my_newfile.txt',mode='a') as f:
    print (f.write('\n FOUR ON FOURTH'))

16

In [293]:
with open('my_newfile.txt',mode='r') as f:
    print (f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
 FOUR ON FOURTH

In [298]:
with open('abcdef.txt',mode='w') as f:
    f.write('i created this file!')

In [300]:
with open('abcdef.txt',mode='r') as f:
    print (f.read())

i created this file!

# Operators

In [301]:
2 == 2

True

In [302]:
2 == 1

False

In [303]:
'Hello'=='Hello'

True

In [305]:
'Hello'=='hello'

False

In [306]:
2.0 ==2

True

In [307]:
3 !=4

True

In [308]:
3 !=3

False

In [309]:
2 < 1

False

In [310]:
2 >1

True

In [311]:
2 >= 2

True

In [312]:
2>=5

False

In [313]:
5<=2

False

In [314]:
1 <2 and 2 >3

False

In [315]:
1 <2 or 2 >3

True

In [316]:
1 <2 or 2 < 3

True

In [317]:
'h'=='h' and 2 ==2

True

In [318]:
1 == 1

True

In [319]:
not 1==1

False

In [320]:
not 1==100

True

In [321]:
not 400 > 5000

True

# Python Statements

In [322]:
if True:
    print ('Its True!')

Its True!

In [323]:
if 3>2:
    print ('Its True!')

Its True!

In [324]:
hungry=False

if hungry:
    print('Feed me')
else:
    print('I am not hungry')

I am not hungry

In [326]:
hungry=True

if hungry:
    print('Feed me')
else:
    print('I am not hungry')

Feed me

In [328]:
loc ='Bank'

if loc =='Auto shop':
    print('Cars are cool')
elif loc =='Bank':
    print('Money is cool')
else:
    print('I dont know anything')

Money is cool

In [331]:
name ='Jose'

if name =='Sunit':
    print('Hello Sunit!')
elif name=='saumya':
    print('Hello Saumya')
else:
    print('What is your name ?')

What is your name ?

# For Loop

In [332]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [334]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [335]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [337]:
for num in my_list:
    print('Sunit')

Sunit
Sunit
Sunit
Sunit
Sunit
Sunit
Sunit
Sunit
Sunit
Sunit

In [338]:
for num in my_list:
    #to check for even number
    if num%2==0:
        print(num)

2
4
6
8
10

In [340]:
for num in my_list:
    #to check for even number
    if num%2==0:
        print(f'even number:{num}')
    else:
        print (f'odd number:{num}')

odd number:1
even number:2
odd number:3
even number:4
odd number:5
even number:6
odd number:7
even number:8
odd number:9
even number:10

In [341]:
list_sum=0

for num in my_list:
    list_sum=list_sum+num
print(list_sum)

55

In [342]:
list_sum=0

for num in my_list:
    list_sum=list_sum+num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [344]:
mystring='Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [345]:

for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [346]:
tup=(1,2,3)

In [347]:
tup

(1, 2, 3)

In [348]:
for item in tup:
    print(item)

1
2
3

# tuple Unpacking

In [351]:
mylist=[(1,2),(3,4),('sunit','saumya')]

In [352]:
mylist

[(1, 2), (3, 4), ('sunit', 'saumya')]

In [353]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
('sunit', 'saumya')

In [354]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
sunit
saumya

In [355]:
for a,b in mylist:
    print(a)

1
3
sunit

In [356]:
for a,b in mylist:
    print(b)

2
4
saumya

In [357]:
d={'k1':1,'k2':2,'k3':3}

In [358]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [359]:
for item in d:
    print(item)

k1
k2
k3

In [361]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [369]:
for value in d.values():
    print(value)

1
2
3