In [1]:
x=0
while x <5:
    print(f'the value of x is {x}')
    x=x+1

the value of x is 0
the value of x is 1
the value of x is 2
the value of x is 3
the value of x is 4

In [4]:
x=0
while x <=5:
    print(f'the value of x is {x}')
    x+=1

the value of x is 0
the value of x is 1
the value of x is 2
the value of x is 3
the value of x is 4
the value of x is 5

In [12]:
x=1
while x <=5:
    print(f'the value of x is {x}')
    x+=1
else:
   print('x is not less than 5')

the value of x is 1
the value of x is 2
the value of x is 3
the value of x is 4
the value of x is 5
x is not less than 5

# break,Continue,pass

In [15]:
x=[1,2,3]

for item in x:
    #comment
    pass
print('end of my script')

end of my script

In [16]:
mystring='sammy'

In [19]:
for letter in mystring:
    print (letter)

s
a
m
m
y

In [20]:
for letter in mystring:
    if letter=='a':
        continue
    print (letter)

s
m
m
y

In [21]:
for letter in mystring:
    if letter=='a':
        break
    print (letter)

s

In [22]:
x=0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

In [23]:
x=0
while x<5:
    if x==2:
        break
    print(x)
    x+=1

0
1

# Useful Operators

In [24]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [25]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [26]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [27]:
range(3,10,2)

range(3, 10, 2)

In [28]:
list(range(3, 10, 2))

[3, 5, 7, 9]

In [38]:
index_count=0

for letter in 'abcd':
    print('the index {} has letter {}'.format(index_count,letter))
    index_count+=1

the index 0 has letter a
the index 1 has letter b
the index 2 has letter c
the index 3 has letter d

In [35]:
index_count=0
word='abcd'

for letter in word:
    print(word[index_count])
    index_count+=1

a
b
c
d

In [39]:

word='abcd'

for letter in enumerate(word):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [42]:
word='abcd'

for index,value in enumerate(word):
    print(index)
    print(value)
    print('\n')

0
a


1
b


2
c


3
d

In [50]:
my_list=[1,2,3]
my_list2=['a','b','c']
my_list3=[100,200,300,400]

In [47]:
zip(my_list,my_list2)

In [51]:
for item in zip(my_list,my_list2,my_list3):
    print (item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [52]:
list(zip(my_list,my_list2,my_list3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [53]:
for a,b,c in zip(my_list,my_list2,my_list3):
    print (c)

100
200
300

In [54]:
1 in [1,2,3]

True

In [55]:
'x' in ['z','y','x']

True

In [56]:
'a' in 'a good boy'

True

In [57]:
'mykey' in {'mykey':123}

True

In [58]:
d={'mykey':123}

'mykey' in d.keys()

True

In [59]:
123 in d.values()

True

In [60]:
mylist=[1,2,3,4,5]

In [61]:
min(mylist)

1

In [62]:
max(mylist)

5

In [63]:
from random import shuffle

In [64]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [68]:
shuffle(mylist)

In [66]:
mylist

[10, 1, 5, 3, 2, 4, 8, 9, 7, 6]

In [69]:
mylist

[1, 2, 3, 4, 8, 6, 10, 7, 9, 5]

In [70]:
randomlist=shuffle(mylist)

In [71]:
randomlist

In [72]:
type(randomlist)

NoneType

In [73]:
mylist

[3, 7, 2, 6, 4, 5, 10, 9, 8, 1]

In [74]:
from random import randint

In [75]:
randint(0,100)

49

In [76]:
randint(0,100)

38

In [80]:
mynumb=randint(0,100)

In [81]:
mynumb

46

In [82]:
mynumb

46

In [83]:
input('what is your name ?')

what is your name ?Sunit

'Sunit'

In [84]:
Result =input('what is your name ?')

what is your name ?Saumya

In [86]:
Result

'Saumya'

In [87]:
Result =input('Favorate Number ?')

Favorate Number ?30

In [89]:
Result

'30'

In [90]:
int(Result)

30

In [92]:
float(Result)

30.0

In [93]:
type(Result)

str

# List Comprehensions

In [94]:
mystring='hello'

In [99]:
mylist=[]

for letter in mystring:
    mylist.append(letter)

In [100]:
mylist

['h', 'e', 'l', 'l', 'o']

In [103]:
mylist=[letter for letter in mystring]

In [102]:
mylist

['h', 'e', 'l', 'l', 'o']

In [104]:
mylist=[x for x in 'word']

In [105]:
mylist

['w', 'o', 'r', 'd']

In [120]:
mylist=[num for num in range(0,10,2)]

In [121]:
mylist

[0, 2, 4, 6, 8]

In [122]:
mylist=[num**2 for num in range(0,10,2)]

In [123]:
mylist

[0, 4, 16, 36, 64]

In [130]:
mylist=[num for num in range(0,11) if num%2==0]

In [131]:
mylist

[0, 2, 4, 6, 8, 10]

In [132]:
Celcius=[0,10,15,32]

In [134]:
fahrenheit=[((9/5)*temp+32) for temp in Celcius]

In [135]:
fahrenheit

[32.0, 50.0, 59.0, 89.6]

In [136]:
Results =[x if x%2==0 else 'odd' for x in range(0,10)]

In [137]:
Results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [139]:
mylist=[]

for x in [1,2,3]:
    for y in [10,20,30]:
        mylist.append(x*y)

In [140]:
mylist

[10, 20, 30, 20, 40, 60, 30, 60, 90]

In [143]:
mylist=[x*y for x in [1,2,3] for y in [10,20,30]]

In [144]:
mylist

[10, 20, 30, 20, 40, 60, 30, 60, 90]